body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body::after {
	background-image: url("../images/coffee_beans_bkgrd.jpg");
	content: "";
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	opacity: 0.2;
	z-index: -1;
	left: 0;
	right: 0;
	top: -50px;
	bottom: 0;
}
#slot_machine_container {
	width: 500px;
	height: 175px;
	margin: 0 auto;
	margin-top: 250px;
	display:	-webkit-box;
	display:	-moz-box;
	display: 	-webkit-flex;
	display:	-ms-flexbox;
	display: 	flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: 		row;
	-ms-flex-direction:			row;
	flex-direction: 				row;
	-webkit-justify-content:	space-between;
	-moz-justify-content:			space-between;
	-ms-justify-content:			space-between;
	justify-content: 					space-between;
	-webkit-align-items:	center;
	-moz-align-items:			center;
	-ms-align-items:			center;
	align-items: 					center;
}
.slot {
	width: 150px;
	height: 100%;
	border: 1px solid orange;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
#slot1,
#slot2,
#slot3 {
	position: relative;
	background-size: contain;
	overflow: hidden;
}
.slot img {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	-webkit-transform: 	translate(0, -50%);
	-moz-transform:			translate(0, -50%);
	-ms-transform:			translate(0, -50%);
	transform: 					translate(0, -50%);
}
.inactive {
	display: none;
}
#button {
	margin-top: 30px;
}
#start {
	display: block;
	margin: 0 auto;
	cursor: pointer;
	font-size: 30px;
	border-radius: 10px;
	color: #FFF;
	background-color: #F36202;
	border: 0;
	font-family: "Sigmar One", cursive;
}
button img {
	margin-top: 3px;
}
.animate {
	z-index: 10;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: 	translate(-50%, -50%);
	-moz-transform:			translate(-50%, -50%);
	-ms-transform:			translate(-50%, -50%);
	transform: 					translate(-50%, -50%);
	-webkit-animation: 	winner 2.9s;
	-moz-animation:			winner 2.9s;
	-ms-animation:			winner 2.9s;
	animation: 					winner 2.9s;
}
.text {
	z-index: 10;
	width: 100%;
	position: absolute;
	left: 50%;
	top: -10%;
	font-size: 60px;
	font-family: "Sigmar One", cursive;
	text-align: center;
	-webkit-transform: 	translate(-50%, -50%);
	-moz-transform:			translate(-50%, -50%);
	-ms-transform:			translate(-50%, -50%);
	transform: 					translate(-50%, -50%);
}
@-webkit-keyframes animate {
	0%		{ -webkit-transform: translate(-50%, -50%) scale(0.1, 0.1); }
	20%		{ -webkit-transform: translate(-50%, -50%) scale(0.5, 0.5); }
	30%		{ -webkit-transform: translate(-50%, -50%) scale(1.7, 1.7); }
	10%		{ -webkit-transform: translate(-50%, -50%) scale(1.7, 1.7); }
	40%		{ -webkit-transform: translate(-50%, -50%) scale(0.5, 0.5); }
	50%		{ -webkit-transform: translate(-50%, -50%) scale(1.7, 1.7); }
	60%		{ -webkit-transform: translate(-50%, -50%) scale(0.5, 0.5); }
	70%		{ -webkit-transform: translate(-50%, -50%) scale(1.7, 1.7); }
	80%		{ -webkit-transform: translate(-50%, -50%) scale(0.5, 0.5); }
	90%		{ -webkit-transform: translate(-50%, -50%) scale(1.7, 1.7); }
	100%	{ -webkit-transform: translate(-50%, -50%) scale(0.2, 0.2); }
}
@-moz-keyframes animate {
	0%		{ -moz-transform: translate(-50%, -50%) scale(0.1, 0.1); }
	20%		{ -moz-transform: translate(-50%, -50%) scale(0.5, 0.5); }
	30%		{ -moz-transform: translate(-50%, -50%) scale(1.7, 1.7); }
	10%		{ -moz-transform: translate(-50%, -50%) scale(1.7, 1.7); }
	40%		{ -moz-transform: translate(-50%, -50%) scale(0.5, 0.5); }
	50%		{ -moz-transform: translate(-50%, -50%) scale(1.7, 1.7); }
	60%		{ -moz-transform: translate(-50%, -50%) scale(0.5, 0.5); }
	70%		{ -moz-transform: translate(-50%, -50%) scale(1.7, 1.7); }
	80%		{ -moz-transform: translate(-50%, -50%) scale(0.5, 0.5); }
	90%		{ -moz-transform: translate(-50%, -50%) scale(1.7, 1.7); }
	100%	{ -moz-transform: translate(-50%, -50%) scale(0.2, 0.2); }
}
@-ms-keyframes winner {
	0%		{ -ms-transform: translate(-50%, -50%) scale(0.1, 0.1); }
	20%		{ -ms-transform: translate(-50%, -50%) scale(0.5, 0.5); }
	30%		{ -ms-transform: translate(-50%, -50%) scale(1.7, 1.7); }
	10%		{ -ms-transform: translate(-50%, -50%) scale(1.7, 1.7); }
	40%		{ -ms-transform: translate(-50%, -50%) scale(0.5, 0.5); }
	50%		{ -ms-transform: translate(-50%, -50%) scale(1.7, 1.7); }
	60%		{ -ms-transform: translate(-50%, -50%) scale(0.5, 0.5); }
	70%		{ -ms-transform: translate(-50%, -50%) scale(1.7, 1.7); }
	80%		{ -ms-transform: translate(-50%, -50%) scale(0.5, 0.5); }
	90%		{ -ms-transform: translate(-50%, -50%) scale(1.7, 1.7); }
	100%	{ -ms-transform: translate(-50%, -50%) scale(0.2, 0.2); }
}
@keyframes winner {
	0%		{ transform: translate(-50%, -50%) scale(0.1, 0.1); }
	10%		{ transform: translate(-50%, -50%) scale(1.7, 1.7); }
	20%		{ transform: translate(-50%, -50%) scale(0.5, 0.5); }
	30%		{ transform: translate(-50%, -50%) scale(1.7, 1.7); }
	40%		{ transform: translate(-50%, -50%) scale(0.5, 0.5); }
	50%		{ transform: translate(-50%, -50%) scale(1.7, 1.7); }
	60%		{ transform: translate(-50%, -50%) scale(0.5, 0.5); }
	70%		{ transform: translate(-50%, -50%) scale(1.7, 1.7); }
	80%		{ transform: translate(-50%, -50%) scale(0.5, 0.5); }
	90%		{ transform: translate(-50%, -50%) scale(1.7, 1.7); }
	100%	{ transform: translate(-50%, -50%) scale(0.2, 0.2); }
}













