body {
	font-family: "Dosis", sans-serif;
}
#calc-container {
	width: 300px;
	height: 420px;
	border: 1px solid black;
	margin: 0 auto;
	margin-top: 50px;
}
#display {
	margin: 10px auto;
	width: 280px;
	height: 50px;
	border: 1px solid black;
	text-align: right;
	line-height: 50px;
	font-size: 40px;
}
.row {
	margin: 0 auto;
}
div .short-row {
	width: 222px;
	margin-left: 0;
	margin-right: 0;
}
.sm-btn {
	display: block;
	float: left;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	border: 1px solid black;
	margin: 2px 6px;
	text-align: center;
	cursor: pointer;
}
.big-btn {
	display: block;
	float: right;
	width: 60px;
	height: 120px;
	line-height: 120px;
	border-radius: 35%;
	margin: 6px 8px 2px 6px;
	border: 1px solid black;
	text-align: center;
	cursor: pointer;
}