/*--------------------------------------------------------Window size less than 800px*/
@media only screen and (max-width: 1000px) {
    header,
    section,
    footer {
        width: auto;
        position: relative;
    }
    .title #title1 {
        font-size: 55px;
    }
    .title #title2 {
        font-size: 25px;
    }
    .title #title3 {
        font-size: 18px;
    }
    section #about {
        font-size: 20px;
    }
    /*------------------------Nav Bar---------------------*/
    #main-nav > ul {
        margin: 0 auto;
        padding: 0;
    }
    #main-nav ul li {
        position: relative;
        padding: 1% 5%;
    }
    #main-nav ul li a {
        margin: 0 10px 0 0;
    }
    #main-nav ul li ul {
        width: 150%;
        top: 5%;
    }
    #main-nav ul li:hover > ul {
        margin: -2% 0 0 0;
        top: 30px;
    }
    /*------------------------About----------------------*/
    #about {
        margin: 0 3%;
        height: 550px;
    }
    #about-img {
        float: none;
        margin: 0 auto;
    }
    #about-blurb {
        font-size: 1.6rem;
        margin: 0 auto;
    }
    /*------------------------LOL------------------------*/
    #lol {
        width: 400px;
        margin: 0 auto;
        height: auto;
    }
    /*------------------------Contact--------------------*/
    #contact a img {
        width: 60px;
        height: 55px;
    }
}
/*--------------------------------------------------------Window size less than 480px*/
@media only screen and (max-width: 480px) {
    header,
    section,
    footer {
        width: auto;
        position: relative;
    }
    #ggb-pic {
        height: 500px;
    }
    .title #title1 {
        font-size: 40px;
    }
    .title #title2 {
        font-size: 20px;
    }
    .title #title3 {
        font-size: 15px;
    }
    section #about {
        font-size: 15px;
    }
    /*------------------------Nav Bar---------------------*/
    #main-nav ul {
        margin: 0 auto;
        padding: 0;
    }
    #main-nav ul li {
        position: relative;
        padding: 1% 4%;
    }
    #main-nav ul li ul {
        top: 5%;
    }
    #main-nav ul li:hover > ul {
        margin: -2% 0 0 0;
        width: 150%;
    }
    #main-nav ul li:hover > ul li {
        padding: 3% 0;
    }
    /*------------------------About----------------------*/
/*    #about {
        margin: 0 3%;
        height: 550px;
    }*/
    #about-img {
        width: 200px;
        height: 200px;
        float: none;
        margin: 0 auto;
    }
    #about-blurb {
        font-size: 1.8rem;
        margin: 0 auto;
    }
    /*------------------------Contact--------------------*/
    #contact a img {
        width: 30px;
        height: 25px;
    }
    #contact a {
        margin: 3% 3% 0;
    }
}











