$dark_blue: #000099;
$light_blue: #4C89FF;
$full_width: 100%;

body {
  position: relative;
  font-size: 12px;
  margin: 0 auto;
  font-family: 'Raleway', Helvetica, sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;    /*For < IE 8*/
}

#main-wrapper {
  position: relative;
}
/*--------------------------Title Header(new 10-3-15)------------------*/
#ggb-pic {
  width: $full_width;
  position: relative;
  height: 650px;
  background: url("../images/ggb1.jpg") no-repeat top center fixed;
  background-size: $full_width 650px;
}

div#title {
  text-transform: uppercase;
  width: $full_width;
  color: $dark_blue;
  position: absolute;
  text-align: center;
  top: 30%;
  opacity: 0.8;
}

p#title1 {
  display: block;
  font-size: 100px;
  margin: 0;
}

p#title2 {
  display: block;
  font-size: 50px;
  margin-top: -10px;
  letter-spacing: 0.20em;
}

p#title3 {
  display: block;
  font-size: 18px;
  margin-top: 50px;
}
/*-----------------------------About-------------------------------*/
#about {
  height: 350px;
  margin: 0 auto;
}

#about-img {
  display: block;
  position: relative;
  width: 300px;
  border-radius: 50%;
  margin: 40px 40px 0 40px;
  height: 300px;
  float: left;
}

#about-blurb {
  position: relative;
  font-size: 2.3rem;
  margin-top: 5%;
  margin-right: 2%;
  z-index: 100;
}

#about-blurb p {
  text-indent: 50px;
  span {
  	display: none; /* This gets faded in as user scrolls */
  }
}
/*-------------------------LOL pic(REMOVED)------------------------------*/
#lol {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

#lol-window:before {
  margin-top: -50px;
  content: "";
  left: 0;
  width: $full_width;
  height: 100px;
  position: absolute;
  background-color: white;
  -webkit-transform:  skewY(4deg);
  -moz-transform:     skewY(4deg);
  transform:          skewY(4deg);
}

#lol-window:after {
  margin-bottom: -60px;
  content: "";
  bottom: 0;
  left: 0;
  width: $full_width;
  height: 100px;
  position: absolute;
  background-color: white;
  -webkit-transform:  skewY(4deg);
  -moz-transform:     skewY(4deg);
  transform:          skewY(4deg);
}

#lol-window {
  width: $full_width;
  position: relative;
  height: 333px;
  background-image: url("../images/lol.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -100;
}

#window-transition {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#lol-text {
  text-align: left;
  padding-top: 50px;
  font-size: 25px;
  color: white;
}
/*-------------------------Nav Bar-----------------------------*/
#main-nav {
  width: $full_width;
  background: $dark_blue;
  text-align: center;
  opacity: 0.9;
  display: none; /* Scrolling to a certain point on page reveals nav bar */
  z-index: 999;
}

#main-nav {
	ul {
    list-style: none;
    display: block;
    margin: 0;
    li {
	    position: relative;
	    display: inline-block;
	    text-transform: uppercase;
	    font-family: 'Raleway', Helvetica, sans-serif;
	    padding: 1% 5%;
	    border-radius: 5px;
	    a {
		    font-weight: bold;
		    text-decoration: none;
		    letter-spacing: .2em;
		    color: white;
		  }
	  }
  }
}

#main-nav li:hover {
  background-color: $light_blue;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition:    background-color 0.4s ease;
  transition:         background-color 0.4s ease;
}
.navbar-collapse {
  border: 0;
  padding: 0;
}
/*-------------------------Projects List-----------------------*/
#projects {
  position: relative;
  width: $full_width;
  height: 100%;
}

#projects:after {
  content: "";
  width: $full_width;
  z-index: 200;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -10;
  background-image: url("../images/skyline.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#projects {
	ul {
    position: relative;
    margin: 0;
    width: $full_width;
    text-align: center;
    li {
    	font-size: 1.5em;
    	color: $dark_blue;
    	figure img {
    		width: $full_width;
    	}
		}
  }
  .showImg {
    opacity: 1;
    transform: translateY(0px);
	}
}

.project {
  display: inline-block;
  margin: 30px 40px;
  opacity: 0;
  width: 300px;
  // height: auto;
  background: white;
  transform: translateY(-20px);
  li {
		border: 1px solid black;
    text-decoration: none;
    list-style-type: none;
  }
}

figure {
  overflow: hidden;
  figcaption {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  background: $dark_blue;
	  opacity: 0.9;
	  color: white;
	  padding: 2px 8px;
	}
}

#projects li:hover > figure figcaption {
  letter-spacing: 0.3em;
  -webkit-transition: letter-spacing 0.4s ease;
  -moz-transition:    letter-spacing 0.4s ease;
  transition:         letter-spacing 0.4s ease;
}

#projects li figure figcaption {
  letter-spacing: 0;
  -webkit-transition: letter-spacing 0.4s ease;
  -moz-transition:    letter-spacing 0.4s ease;
  transition:         letter-spacing 0.4s ease;
}
/*---------------------------Contact-----------------------------*/
#contact {
  text-align: center;
  position: relative;
  a {
    display: inline-block;
    text-decoration: none;
    margin: 5% 5% 0;
  }
}
/*---------------------------Footer-----------------------------*/
footer {
  max-width: $full_width;
  // height: 3%;
  // position: relative;
}

#main-footer {
	p {
    padding: 3% 3%;
  }
}

