body,
section {
    margin: 0 auto;
    font-family: 'Raleway', Helvetica, sans-serif;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;    /*For < IE 8*/
}
/*--------------------------Title Header(new 10-3-15)------------------*/
#ggb-pic {
    position: relative;
    height: 650px;
    background: url("../images/ggb1.jpg") no-repeat top center fixed;
    background-size: auto 650px;
}
div.title {
    text-transform: uppercase;
    width: 100%;
    color: #000099;     /* Dark Blue */
    position: absolute;
    text-align: center;
    top: 50%;
    opacity: 0.8;
    margin-top: -150px;

}
p#title1 {
    display: block;
    height: 100px;
    font-size: 100px;
}
p#title2 {
    display: block;
    height: 50px;
    font-size: 50px;
    margin-top: 20px;
    letter-spacing: 0.20em;
}
p#title3 {
    display: block;
    height: 18px;
    font-size: 18px;
    margin-top: 50px;
}
/*-----------------------------About-------------------------------*/
#about {
    height: 380px;
    margin: 0 auto;
    position: relative;
}
#about-img {
    display: block;
    position: relative;
    width: 300px;
    border-radius: 50%;
    margin: 40px;
    margin-top: 20px;
    height: 300px;
    float: right;
}
#about-img img {
    width: 100%;
}
#about-blurb {
    font-size: 28px;
    margin-top: 50px;
    /*margin-right: 300px;*/
    margin-left: 2%;
    float: left;
    margin-right: 400px;
}
#about-blurb p {
    text-indent: 50px;
}
p span {
    display: none;  /* This gets faded in as user scrolls */
}
/*-------------------------LOL pic(scraped idea)----------------*/
div#lol-window {
    position: relative;
    height: 0;
    width: 0;
    /*margin-left: -500px;*/
    background: url("../images/lol.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*border-bottom: 500px solid transparent;
    border-left: 200px solid transparent;
    border-right: 200px solid white;*/
}
div#window-tint {
    background-color: rgba(255, 255, 255, 0.7);
    /*position: absolute;*/
    /*top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
}
div#lol-text {
/*    text-align: left;*/
    font-size: 25px;
    color: white;
    vertical-align: bottom;
    left: 0;
    display: inline-block;
}
/*#div1 {
    height: 0;
    width: 50;
    border-bottom: 50px solid orange;
    border-left: 50px solid purple;
    border-right: 50px solid yellow;

}*/
/*-------------------------Nav Bar-----------------------------*/
#main-nav {
    width: 100%;
    text-align: center;
    background: #000099; /* Dark Blue */
    opacity: 0.9;
    height: 45px;
    display: none;
    z-index: 999;
}
#main-nav ul {
    list-style: none;
    display: block;
}
#main-nav ul li {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Raleway', Helvetica, sans-serif;
    padding: 1% 5%;
    border-radius: 5px;
}
#main-nav ul li a {
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: .2em;
    color: white;
}
#main-nav li:hover {
    background-color: #4C89FF;      /* Light Blue */
    -webkit-transition: background-color 0.4s ease;
    -moz-transition:    background-color 0.4s ease;
    transition:         background-color 0.4s ease;
}
#main-nav ul li ul {
    position: absolute;
    visibility: hidden;
    right: 0;
    top: 40px;
    width: 100%;
    border-radius: 5px;
    list-style: none;
}
#main-nav ul li > ul li {
    display: block;           /*Makes all <li>s the same width*/
    /*width: 100%; */           /*Makes all <li>s the same width*/
    padding: 2% 10%;
}
#main-nav ul li:hover > ul {
    z-index: 100;
    visibility: visible;
    margin-top: 20%;
    background-color: #4C89FF;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition:    background-color 0.4s ease;
    transition:         background-color 0.4s ease;
    text-align: center;
    margin: 0;
}
#main-nav ul li:hover > ul li {
    border-bottom: solid white 1px;
}
#main-nav ul li:hover > ul li:last-child {
    border-bottom: none;
}
#main-nav ul li:hover > ul li a {
    font-size: 75%;
    font-weight: 700;
    text-transform: lowercase;
    color: white;
    letter-spacing: 0.2em;
    font-weight: normal;
}
/*Learning about creating a triangle
/*#div1 {
    height: 0;
    width: 50;
    border-bottom: 50px solid orange;
    border-left: 50px solid purple;
    border-right: 50px solid yellow;

}*/
/*#main-image {
    position: relative;
    margin: 0 auto;
    width: 100%;
    
    padding-top: 56.25%;*/        /*sets the height proportional to width 16:9
    background: linear-gradient(#2FCCCF, transparent 90%),
                linear-gradient(0deg, #fff, transparent 50%);
                /*url("../images/cherry_blossoms.JPG") no-repeat center center;
    /*background-size: cover;
    z-index: 40;

}*/
/*#main-image img {
    display: block;
    opacity: 0.2;
    width: 100%;
    margin: 0 auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}*/
/*div#about-me {
    position: absolute;
    /*display: none;
    font-size: 35px;
    font-family: 'Raleway', Helvetica, sans-serif;
    text-indent: 80px;
    color: #505050;
    z-index: 50;
    left: 20px;
    top: 140px;
    width: 90%;
    margin: 0 auto;
}*/
/*-------------------------Projects List-----------------------*/
#projects-list {
    width: 100%;
    height: 800px; /* Set height to aid with testing parallax features */
    background: url("../images/skyline.jpg");
    background-attachment: fixed;
    background-size: cover;
    z-index: -10;
}
#projects ul {
    margin: 0;
}
.project {
    width: 300px;
    height: auto;
    float: left;
    background: white;
}
.project img {
    width: 100%;
    display: block;
    -webkit-transform:  scale(1);
    -moz-transform:     scale(1);
    transform:          scale(1);
    transition: all 0.3s ease-in-out;
}
.project {
    position: relative;
    margin: 20px 50px;
    opacity: 0;
    transform: translateY(-20px);
}
.show {
    opacity: 1;
    transform: translateY(0px);
}
.project li,
.project a {
    text-decoration: none;
    list-style-type: none;
}
.project li {
    border: 1px solid black;
}
#projects-list li {
    font-size: 1.5em;
    display: table;     /*sets width of li elements to anchor text width*/
    color: #000099;
}
figure {
    overflow: hidden;
}
#projects-list li:hover > figure img {
    -webkit-transform:  scale(1.1);
    -moz-transform:     scale(1.1);
    transform:          scale(1.1);
    border: 1px solid black;
}
#projects-list li:hover > figure figcaption {
    letter-spacing: 0.3em;
    -webkit-transition: letter-spacing 0.4s ease;
    -moz-transition:    letter-spacing 0.4s ease;
    transition:         letter-spacing 0.4s ease;
}
#projects-list li figure figcaption {
    letter-spacing: 0;
    -webkit-transition: letter-spacing 0.4s ease;
    -moz-transition:    letter-spacing 0.4s ease;
    transition:         letter-spacing 0.4s ease;
}
figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000099;
    opacity: 0.9;
    color: white;
    padding: 2px 8px;
}
/*---------------------------Footer-----------------------------*/
footer {
    max-width: 100%;
    margin: 0 auto;
/*    display: block;*/
}
#main-footer p {
    padding: 3% 0;
}
/*--------------------------Header(Not In Use)-----------------------*/
/*#header-container {
    /*overflow: hidden;     Need to remove it for drop down to show up
    max-width: 960px;
    margin: 0 auto;
    height: 100px;
}
#name-title {
    position: relative;
    width: 24%;
}
#name-header {
    position: relative;
    max-width: 200px;       Size of name and subtitle
    float: left;
    margin: 0 3%;
}
div#name-header a:hover {
    text-decoration: none;
}
h1, h5 {
    font-family: 'Raleway', Helvetica, sans-serif;
    color: gray;
    text-decoration: none;
}
h1 {
    margin: 5px 0;
}
h5 {
    margin: 0 0 20px;
}*/
/*-------------------------Portfolio(Not In Use)------------------*/
/*#images-wrapper {
    overflow: visible;
}
#imageGallery {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#imageGallery li {
    float: left;
    width: 31.3333%;
    height: auto;
    margin: 1%;
}
#imageGallery li a {
    text-decoration: none;
}
#imageGallery img {
    max-width: 100%;
}
/*Overlay feature*/
/*#overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}
#overlay img {
    margin-top: 5%;
}
#overlay p {
    color: white;
    margin-top: 1%;
}*/



