#gameboard,
#tictac-controls {
	margin: 70px auto;
	width: 309px;
	height: 309px;
}
#tictac-controls #colorSelect {
	display: none;
}
#tictac-controls #sliders-box {
	height: 175px;
	margin-top: 7%;
}
#gameboard .square {
	float: left;
	width: 100px;
	height: 100px;
}
#players-colors {
	margin: 10px auto;
}
button {
	display: block;
	color: white;
	background: DarkCyan;
	font-size: 20px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
	outline: none;
	border: none;
}
#players-colors button {
	display: inline;
}
#revealColorSelect {
	margin: 10px auto;
	padding: 5px 10px;
}
#newColorBox {
	display: block;
	background-color: black;
	height: 100px;
	width: 100px;
	border-radius: 10px;
	margin: 30px 20px;
	float: left;
}
button#player1-color {
	float: left;
	margin-left: 15%;
}
button#player2-color {
	float: right;
	margin-right: 15%;
}
button#resetBoard {
	display: none;
	margin: 10px auto;
	padding: 5px 10px;
}
#tictac-controls #newColorBox {
	position: relative;
	width: 80px;
	height: 80px;
	margin: 47.5px 10px;
}
#tictac-controls input#red,
#tictac-controls input#green,
#tictac-controls input#blue {
	width: 100px;
	margin: 10px 5px;
	float: right;
}
#tictac-controls .sliders label {
	display: inline-block;
	margin: 10px 0 10px 40px;
}
#tictac-controls .sliders p {
	margin: 10px;
}
#gameboard #one {
	border-bottom: 3px solid black;
	border-right: 3px solid black;
}
#gameboard #two {
	border-bottom: 3px solid black;
	border-right: 3px solid black;
}
#gameboard #three {
	border-bottom: 3px solid black;
}
#gameboard #four {
	border-bottom: 3px solid black;
	border-right: 3px solid black;
}
#gameboard #five {
	border-bottom: 3px solid black;
	border-right: 3px solid black;
}
#gameboard #six {
	border-bottom: 3px solid black;
}
#gameboard #seven {
	border-right: 3px solid black;
}
#gameboard #eight {
	border-right: 3px solid black;
}
#tictac-result {
	display: block;
	text-align: center;
	font-size: 150%;
}