body {
    text-align: center;
}

#main-container {
    margin-top: 50px;
    position: relative;
}

body::after {
    content: "";
    background-image: url("http://www.glaad.org/sites/default/files/images/2014-08/wikipedia.jpg");
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.1;
    position: absolute;
    background-size: cover;
}

h1 {
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}

#search-title {
    font-size: 60px;
    margin: 0 auto;
    letter-spacing: 0.1em;
}

#search-field {
    width: 500px;
    font-size: 35px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    margin-top: 20px;
}

#search-container {
    margin: 30px auto;
    margin-bottom: 50px;
}

#search-container button {
    font-size: 30px;
    margin-left: 20px;
    margin-top: -15px;
}

.articles {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 30px;
    background-color: #F0F0F0;
    max-width: 80%;
    margin: 0 auto;
}

.articles:hover {
    background-color: #E0E0E0;
}

.snippet {
    font-size: 20px;
    font-weight: normal;
}

ul {
    list-style-type: none;
}

li {
    display: block;
    margin: 30px;
}

a,
a:hover {
    color: black;
    text-decoration: none;
}
