<!DOCTYPE html>
<html lang="en-US" ng-app="pomodoroApp">
	<head>
	  <meta charset="utf-8"/><!-- HTML5 -->
	  <meta name="keywords" content="HTML, CSS, Javascript, jQuery"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1"/>
	  <title>Melissa Yip | Web Developer</title>
	  <link rel="stylesheet" href="../stylesheet/normalize.css"/>
	  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
	  <link rel="stylesheet" type="text/css" href="../stylesheet/pomodoro.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script type="text/javascript" src="../applications/pomodoro.js"></script>
	 </head>


	<body ng-controller="pomodoroController">
		<h1 id="clock-title">Let's Work!</h1>
		<div id="adjust-timer">
			<div id="break-section" class="section">
				<h3>Break</h3>
				<div id="add-break" class="button mini-section" ng-click="addBreak(breakTime)">+</div>
				<div id="break-time" class="mini-section">{{ breakTime }}</div>
				<div id="sub-break" class="button mini-section" ng-click="subBreak(breakTime)">-</div>
			</div>
			<div id="work-section" class="section">
				<h3>Work</h3>
				<div id="add-break" class="button mini-section" ng-click="addWork(workTime)">+</div>
				<div id="work-time" class="mini-section">{{ workTime }}</div>
				<div id="sub-break" class="button mini-section" ng-click="subWork(workTime)">-</div>
			</div>
		</div>
		<div id="timer">
			<div id="timer-countdown">{{ countdown }}</div>
			<div id="buttons">
				<button id="start" ng-click="start_stop()">{{ isBegin | uppercase }}</button>
				<button id="clear" ng-click="clearTimer()">CLEAR</button>
			</div>
		</div>
	</body>

</html>